In [56]:
import pandas as pd
import numpy as np
import time
from datetime import datetime
from utils2 import get_matrix_from_api
from BruteForce import brute_force
from NearestNeighbor import nearest_neighbor, solve_tsp_nearest
from Genetic import get_route, get_route_no0, population_size, initial_population, total_dist_individual, \
                        fitness_prob, roulette_wheel,crossover, mutation, genetic, genetic_route

In [57]:
df = pd.read_csv("./final_data.csv")

df.head(5)

,Created By,TimeIn_d,All_long_lat,All_long_lat2,All_long_lat_final
0,Adam B Kersey,12/6/2021,"(-84.0708972416, 34.01125161), (-83.895154254,...","(-83.96162849999999, 33.9697702), (-84.0708972...","[(33.9697702, -83.96162849999999), (34.0112516..."
1,Adam B Kersey,12/8/2021,"(-83.8884193553, 33.95414376), (-83.8640293043...","(-83.96162849999999, 33.9697702), (-83.8884193...","[(33.9697702, -83.96162849999999), (33.9541437..."
2,Adam B Kersey,12/9/2021,"(-83.9957768663, 34.00375169)","(-83.96162849999999, 33.9697702), (-83.9957768...","[(33.9697702, -83.96162849999999), (34.0037516..."
3,Adam B Kersey,12/13/2021,"(-83.895154254, 33.92719319)","(-83.96162849999999, 33.9697702), (-83.8951542...","[(33.9697702, -83.96162849999999), (33.9271931..."
4,Adam B Kersey,12/14/2021,"(-84.036341178, 33.86256468), (-84.1143379868,...","(-83.96162849999999, 33.9697702), (-84.0363411...","[(33.9697702, -83.96162849999999), (33.8625646..."

In [58]:
# Need to manual create a new column and add "(-83.96162849999999, 33.9697702), "


df['All_long_lat2'].str.strip()

total_route = []
for i in range(0, len(df['All_long_lat2'])):
    

    route_per_row = []
    for j in eval(df['All_long_lat2'][i]):
        
        tup = (j[1], j[0])
        
        #print(tup)
        
        route_per_row.append(tup)
        
    
    #route_per_row.insert(0, (33.9697702,-83.96162849999999))  # Starting point
    
    total_route.append(route_per_row)

In [59]:
df['All_long_lat_final'] = total_route
df.to_csv("./final_data.csv", index=False)

In [60]:
print(len(df))
df.head(5)

6195

,Created By,TimeIn_d,All_long_lat,All_long_lat2,All_long_lat_final
0,Adam B Kersey,12/6/2021,"(-84.0708972416, 34.01125161), (-83.895154254,...","(-83.96162849999999, 33.9697702), (-84.0708972...","[(33.9697702, -83.96162849999999), (34.0112516..."
1,Adam B Kersey,12/8/2021,"(-83.8884193553, 33.95414376), (-83.8640293043...","(-83.96162849999999, 33.9697702), (-83.8884193...","[(33.9697702, -83.96162849999999), (33.9541437..."
2,Adam B Kersey,12/9/2021,"(-83.9957768663, 34.00375169)","(-83.96162849999999, 33.9697702), (-83.9957768...","[(33.9697702, -83.96162849999999), (34.0037516..."
3,Adam B Kersey,12/13/2021,"(-83.895154254, 33.92719319)","(-83.96162849999999, 33.9697702), (-83.8951542...","[(33.9697702, -83.96162849999999), (33.9271931..."
4,Adam B Kersey,12/14/2021,"(-84.036341178, 33.86256468), (-84.1143379868,...","(-83.96162849999999, 33.9697702), (-84.0363411...","[(33.9697702, -83.96162849999999), (33.8625646..."

In [61]:
from collections import Counter

leng = []
for i in total_route:
    leng.append(len(i))

Counter(leng).most_common()

[(5, 1253),
 (4, 1142),
 (3, 1021),
 (6, 1006),
 (2, 917),
 (7, 529),
 (8, 220),
 (9, 70),
 (10, 19),
 (11, 13),
 (12, 3),
 (14, 1),
 (13, 1)]

## Original Distance / Duration ##

In [62]:
#orig_distance = []
#orig_duration = []

#for a in total_route[:5]:        
#    dist_matrix, dura_matrix = get_matrix_from_api(a)
    
#    dis = round(np.sum(dist_matrix, axis = 1)[0] /1609)
#    dur = round(np.sum(dura_matrix, axis = 1)[0] /60)

#    orig_distance.append(dis)
#    orig_duration.append(dur)
    
#    time.sleep(1)
    
#df['Original_Distance'] = orig_distance
#df['Original_Duration'] = orig_duration

#df.head(5)

In [63]:
orig_distance = []
orig_duration = []

route = total_route[:]
#route = total_route[4561:6195]


for a in route:  
    
    dist_matrix, dura_matrix = get_matrix_from_api(a)
    
    r = [i for i in range(0, len(a))]
    r.append(0)
    
    end = len(r)
    
    #print(r)
    #print(end)
    
    d = 0
    t = 0
    for i, j in zip(r[0:end-1], r[1:end]):
        
        #print(i,j)
        
        d += dist_matrix[i][j]
        t += dura_matrix[i][j]

    orig_distance.append(round(d/1609))
    orig_duration.append(round(t/60))
    
    
df['Original_Distance'] = orig_distance
df['Original_Duration'] = orig_duration

df.head(5)

,Created By,TimeIn_d,All_long_lat,All_long_lat2,All_long_lat_final,Original_Distance,Original_Duration
0,Adam B Kersey,12/6/2021,"(-84.0708972416, 34.01125161), (-83.895154254,...","(-83.96162849999999, 33.9697702), (-84.0708972...","[(33.9697702, -83.96162849999999), (34.0112516...",35,70
1,Adam B Kersey,12/8/2021,"(-83.8884193553, 33.95414376), (-83.8640293043...","(-83.96162849999999, 33.9697702), (-83.8884193...","[(33.9697702, -83.96162849999999), (33.9541437...",25,60
2,Adam B Kersey,12/9/2021,"(-83.9957768663, 34.00375169)","(-83.96162849999999, 33.9697702), (-83.9957768...","[(33.9697702, -83.96162849999999), (34.0037516...",10,21
3,Adam B Kersey,12/13/2021,"(-83.895154254, 33.92719319)","(-83.96162849999999, 33.9697702), (-83.8951542...","[(33.9697702, -83.96162849999999), (33.9271931...",13,33
4,Adam B Kersey,12/14/2021,"(-84.036341178, 33.86256468), (-84.1143379868,...","(-83.96162849999999, 33.9697702), (-84.0363411...","[(33.9697702, -83.96162849999999), (33.8625646...",34,71

In [64]:
df.to_csv("./final_data1.csv", index=False)

In [65]:
print(len(orig_distance))  # range(len+1, 6195)

new_start = len(orig_distance) + 1

print(new_start)

6195
6196

In [ ]:
# BK

orig_distance1 = orig_distance
orig_duration1 = orig_duration

## Brute Force ##

In [10]:
bf_route = []
bf_distance = []
bf_duration = []
bf_time = []


total_start_time = time.time()

for a in total_route:
    
    if len(a) >= 1:
        
        #print(a)
        
        dist_matrix, dura_matrix = get_matrix_from_api(a)

        start_time = datetime.now()

        route, distance, duration = brute_force(dist_matrix, dura_matrix)

        end_time = datetime.now()

        bf_route.append(route)
        bf_distance.append(distance)
        bf_duration.append(duration)
        bf_time.append(end_time - start_time)

     
    else:
        
        bf_route.append(0)
        bf_distance.append(0)
        bf_duration.append(0)
        bf_time.append(0)

         
    time.sleep(2)        
            
            
total_end_time = time.time()
             
print("Total_Execution_Time: ", format(total_end_time - total_start_time))

Total_Execution_Time:  2:21:20.429142

In [11]:
df['BF_Route'] = bf_route
df['BF_Distance'] = bf_distance
df['BF_Duration'] = bf_duration
df['BF_Time'] = bf_time

In [12]:
df.to_csv("./final_data2.csv", index=False)

## Nearest Neighbor ##

In [16]:
nn_route = []
nn_distance = []
nn_duration = []
nn_time = []


total_start_time = datetime.now()


for a in total_route:
#for a in total_route[len(nn_route)+1 : 3404]:    #If run into ConnectionPool issue get len(nn_route)
    
    if len(a) >= 1:
        
        #print(a)
        
        dist_matrix, dura_matrix = get_matrix_from_api(a)

        start_time = time.time()
        route, distance, duration = nearest_neighbor(dist_matrix, dura_matrix)
        end_time = time.time()

        nn_route.append(route)
        nn_distance.append(distance)
        nn_duration.append(duration)
        nn_time.append(end_time - start_time)

     
    else:
        
        nn_route.append(0)
        nn_distance.append(0)
        nn_duration.append(0)
        nn_time.append(0)

        
    #time.sleep(2)
    
total_end_time = datetime.now()
             
print("Total_Execution_Time: ", format(total_end_time - total_start_time))

Total_Execution_Time:  0:25:59.453746

In [17]:
len(nn_route)

3403

In [20]:
df['NN_Route'] = nn_route
df['NN_Distance'] = nn_distance
df['NN_Duration'] = nn_duration
df['NN_Time'] = nn_time

In [21]:
df.to_csv("./sample_data4.csv", index=False)

## Genetic Algorithm ##

In [10]:
ga_route = []
ga_distance = []
ga_duration = []
ga_time = []


total_start_time = time.time()

for a in total_route[:5]:
    
    if len(a) >= 1:
        
        route_list = get_route(a)
        
        #print(a)
        
        route_list_no0 = get_route_no0(a)
        dist_matrix, dura_matrix = get_matrix_from_api(a)


        n_population = population_size(route_list)
        #n_population = 500 
        crossover_per = 0.8
        mutation_per = 0.2
        n_generations = 500



        start_time = time.time()

        route, distance, duration = genetic_route(route_list, 
                                                        route_list_no0, 
                                                        n_population, 
                                                        n_generations, 
                                                        crossover_per, 
                                                        mutation_per,
                                                        dist_matrix,
                                                        dura_matrix)


        end_time = datetime.now()
        
        ga_route.append(route)
        ga_distance.append(distance)
        ga_duration.append(duration)
        ga_time.append(end_time - start_time)
     
    else:
        
        ga_route.append(0)
        ga_distance.append(0)
        ga_duration.append(0)
        ga_time.append(0)

    time.sleep(3)
    
total_end_time = datetime.now()
             
print("Total_Execution_Time: ", format(total_end_time - total_start_time))

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'float'

In [ ]:
df['GA_Route'] = ga_route
df['GA_Distance'] = ga_distance
df['GA_Duration'] = ga_duration
df['GA_Time'] = ga_time

In [ ]:
df.to_csv("./sample_data5.csv", index=False)