In [2]:
#import pump station maintenance log data 

import pandas as pd

data = pd.read_csv(r"eLoggerData.csv")
data.head(5)

,Entry ID,Location,Log Date,Create Date,Completed On,Created By,LOG TYPE,TIME IN,TIME OUT
0,33,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,6/28/2021 3:32 PM,6/28/2021 3:39 PM,6/28/2021 3:39 PM,John W Thompson,STATION CHECK,2021-06-28 15:32,2021-06-28 16:00
1,35,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,7/1/2021 7:35 AM,7/1/2021 7:42 AM,7/1/2021 7:42 AM,Lauren R Wilder,STATION CHECK,2021-07-01 07:38,NaN
2,36,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,7/1/2021 9:23 AM,7/1/2021 9:30 AM,7/1/2021 9:30 AM,John W Thompson,STATION CHECK,2021-07-01 09:24,NaN
3,37,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,7/2/2021 7:58 AM,7/2/2021 8:17 AM,7/2/2021 8:17 AM,John W Thompson,STATION CHECK,2021-07-02 07:59,NaN
4,38,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,7/2/2021 7:42 AM,7/2/2021 8:52 AM,7/2/2021 8:52 AM,Kenneth E Romines,ALARM CALL,2021-07-02 08:00,2021-07-02 10:00

In [3]:
data.shape

(23899, 9)

In [4]:
#location data with longitude and latitude

loc_lookup = pd.read_csv(r"Locations_v2.csv",encoding='ISO-8859-1')
loc_lookup.head(5)

,ï»¿Pump Station Address_raw data,long,lat,Pump_Identifier,Pump Station Address
0,684 Winder Hwy LawrencevilleÂ GA,-83.961629,33.969770,1,NaN
1,ABBERONE,-83.945564,34.085553,2,ABBERRONE
2,ABBERRONE,-83.945564,34.085553,2,ABBERRONE
3,ABINGTON DRIVE,-83.998518,33.853074,3,NaN
4,ALCOVY RIVER,-83.940248,33.978324,4,ALCOVY RIVER BOOSTER STATION

In [5]:
loc_lookup['Pump Station Address_raw data'] = loc_lookup['ï»¿Pump Station Address_raw data']
loc_lookup.drop(columns=['ï»¿Pump Station Address_raw data'], inplace=True)
loc_lookup.head(5)

,long,lat,Pump_Identifier,Pump Station Address,Pump Station Address_raw data
0,-83.961629,33.969770,1,NaN,684 Winder Hwy LawrencevilleÂ GA
1,-83.945564,34.085553,2,ABBERRONE,ABBERONE
2,-83.945564,34.085553,2,ABBERRONE,ABBERRONE
3,-83.998518,33.853074,3,NaN,ABINGTON DRIVE
4,-83.940248,33.978324,4,ALCOVY RIVER BOOSTER STATION,ALCOVY RIVER

In [6]:
# Create the new field 'Pump Station Address Final' using the fillna method..
#use Pump Station Address data is available, otherwise use Pump Station Address_raw data

loc_lookup['Pump Station Address Final'] = loc_lookup['Pump Station Address'].fillna(loc_lookup['Pump Station Address_raw data']) #to use for display
loc_lookup.head(5)

,long,lat,Pump_Identifier,Pump Station Address,Pump Station Address_raw data,Pump Station Address Final
0,-83.961629,33.969770,1,NaN,684 Winder Hwy LawrencevilleÂ GA,684 Winder Hwy LawrencevilleÂ GA
1,-83.945564,34.085553,2,ABBERRONE,ABBERONE,ABBERRONE
2,-83.945564,34.085553,2,ABBERRONE,ABBERRONE,ABBERRONE
3,-83.998518,33.853074,3,NaN,ABINGTON DRIVE,ABINGTON DRIVE
4,-83.940248,33.978324,4,ALCOVY RIVER BOOSTER STATION,ALCOVY RIVER,ALCOVY RIVER BOOSTER STATION

In [7]:
#only keep tje final address column

loc_lookup.drop(columns=['Pump Station Address'], inplace=True)
loc_lookup.rename(columns={'Pump Station Address_raw data': 'Pump Station Address'}, inplace=True) #tojoin with raw data..making column name same
loc_lookup.head(5)

,long,lat,Pump_Identifier,Pump Station Address,Pump Station Address Final
0,-83.961629,33.969770,1,684 Winder Hwy LawrencevilleÂ GA,684 Winder Hwy LawrencevilleÂ GA
1,-83.945564,34.085553,2,ABBERONE,ABBERRONE
2,-83.945564,34.085553,2,ABBERRONE,ABBERRONE
3,-83.998518,33.853074,3,ABINGTON DRIVE,ABINGTON DRIVE
4,-83.940248,33.978324,4,ALCOVY RIVER,ALCOVY RIVER BOOSTER STATION

In [8]:
loc_lookup.to_csv(r'C:\Users\stuti\Desktop\CSE 6242_Fall2023\project\Location_v3.csv', index = None, header=True) #to input in the algorithms

In [7]:
df=data

In [8]:
#parsing location names in the dataframe

df['County'],df['Pump Station'],df['Route'],df['Pump Station Address']=df['Location'].str.split('->').str

C:\Users\stuti\AppData\Local\Temp/ipykernel_4528/3471786876.py:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['County'],df['Pump Station'],df['Route'],df['Pump Station Address']=df['Location'].str.split('->').str

In [9]:
# Remove trailing white spaces
df['Pump Station Address'] = df['Pump Station Address'].str.strip()

In [10]:
df.head(5)

,Entry ID,Location,Log Date,Create Date,Completed On,Created By,LOG TYPE,TIME IN,TIME OUT,County,Pump Station,Route,Pump Station Address
0,33,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,6/28/2021 3:32 PM,6/28/2021 3:39 PM,6/28/2021 3:39 PM,John W Thompson,STATION CHECK,2021-06-28 15:32,2021-06-28 16:00,GWINNETT COUNTY DWR,PUMP STATIONS,ROUTE 01,DACULA CITY
1,35,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,7/1/2021 7:35 AM,7/1/2021 7:42 AM,7/1/2021 7:42 AM,Lauren R Wilder,STATION CHECK,2021-07-01 07:38,NaN,GWINNETT COUNTY DWR,PUMP STATIONS,ROUTE 01,DACULA CITY
2,36,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,7/1/2021 9:23 AM,7/1/2021 9:30 AM,7/1/2021 9:30 AM,John W Thompson,STATION CHECK,2021-07-01 09:24,NaN,GWINNETT COUNTY DWR,PUMP STATIONS,ROUTE 01,DACULA CITY
3,37,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,7/2/2021 7:58 AM,7/2/2021 8:17 AM,7/2/2021 8:17 AM,John W Thompson,STATION CHECK,2021-07-02 07:59,NaN,GWINNETT COUNTY DWR,PUMP STATIONS,ROUTE 01,DACULA CITY
4,38,GWINNETT COUNTY DWR -> PUMP STATIONS -> ROUTE ...,7/2/2021 7:42 AM,7/2/2021 8:52 AM,7/2/2021 8:52 AM,Kenneth E Romines,ALARM CALL,2021-07-02 08:00,2021-07-02 10:00,GWINNETT COUNTY DWR,PUMP STATIONS,ROUTE 01,DACULA CITY

In [11]:
#removing some erroneous out of range date range

df = df[(df['TIME IN'] < '2023-10-19 09:00:00') & (df['TIME OUT'] < '2023-10-19 09:00:00')]

In [12]:
#create date field from date time

df['Create_d'] = pd.to_datetime(df['Create Date']).dt.date
df['TimeIn_d'] = pd.to_datetime(df['TIME IN']).dt.date
df['TimeOut_d'] = pd.to_datetime(df['TIME OUT']).dt.date

C:\Users\stuti\AppData\Local\Temp/ipykernel_4528/1082975368.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Create_d'] = pd.to_datetime(df['Create Date']).dt.date
C:\Users\stuti\AppData\Local\Temp/ipykernel_4528/1082975368.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TimeIn_d'] = pd.to_datetime(df['TIME IN']).dt.date
C:\Users\stuti\AppData\Local\Temp/ipykernel_4528/1082975368.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TimeOut_d'] = pd.to_datetime(df['TIME OUT']).dt.date

In [13]:
#sort logs created time by maintenance staff for a given day

df=df.sort_values(by=['Created By','Create_d'], ascending=[True, True])
df.shape

(23193, 16)

In [14]:
#remove time in and time out stamps that are null

df = df[(df['TIME IN'].notna()) & (df['TIME OUT'].notna())]

In [15]:
df.shape

(23193, 16)

In [16]:
#make sure the travelling is happening on the same day

df = df[df['TimeIn_d'] == df['TimeOut_d']]

In [17]:
df.shape

(22952, 16)

In [18]:
df.columns

Index(['Entry ID', 'Location', 'Log Date', 'Create Date', 'Completed On',
       'Created By', 'LOG TYPE', 'TIME IN', 'TIME OUT', 'County',
       'Pump Station', 'Route', 'Pump Station Address', 'Create_d', 'TimeIn_d',
       'TimeOut_d'],
      dtype='object')

In [19]:
#narrow down to required columns only

df=df[['Created By', 'Create_d', 'TimeIn_d', 'Pump Station Address', 'TIME IN', 'TIME OUT']]

In [20]:
#calculate time spent in each pump station

df['TIME IN'] = pd.to_datetime(df['TIME IN'])
df['TIME OUT'] = pd.to_datetime(df['TIME OUT'])

#in minutes 
df['TimeDifference'] = (df['TIME OUT'] - df['TIME IN']).dt.total_seconds() / 60

df=df[df['TimeDifference']>0] #technicians have to spend some time at the station

In [21]:
df.head(5)

,Created By,Create_d,TimeIn_d,Pump Station Address,TIME IN,TIME OUT,TimeDifference
2142,Adam B Kersey,2021-12-06,2021-12-06,HUNTCREST,2021-12-06 09:00:00,2021-12-06 10:00:00,60.0
2159,Adam B Kersey,2021-12-06,2021-12-06,GREAT RIVER,2021-12-06 11:00:00,2021-12-06 12:30:00,90.0
2232,Adam B Kersey,2021-12-08,2021-12-08,GATES OF EWING,2021-12-08 08:00:00,2021-12-08 09:30:00,90.0
2234,Adam B Kersey,2021-12-08,2021-12-08,HARBINS LANDING,2021-12-08 09:45:00,2021-12-08 12:00:00,135.0
2242,Adam B Kersey,2021-12-08,2021-12-08,AUBURN ROAD,2021-12-08 13:00:00,2021-12-08 15:00:00,120.0

In [22]:
df.shape

(22060, 7)

In [23]:

# Merge the two DataFrames on 'Pump Station Address' and pull lat and long info

merged_df = df.merge(loc_lookup, on='Pump Station Address', how='left')
merged_df.head(5)

,Created By,Create_d,TimeIn_d,Pump Station Address,TIME IN,TIME OUT,TimeDifference,long,lat,Pump_Identifier,Pump Station Address Final
0,Adam B Kersey,2021-12-06,2021-12-06,HUNTCREST,2021-12-06 09:00:00,2021-12-06 10:00:00,60.0,-84.070897,34.011252,96,HUNTCREST
1,Adam B Kersey,2021-12-06,2021-12-06,GREAT RIVER,2021-12-06 11:00:00,2021-12-06 12:30:00,90.0,-83.895154,33.927193,81,GREAT RIVER
2,Adam B Kersey,2021-12-08,2021-12-08,GATES OF EWING,2021-12-08 08:00:00,2021-12-08 09:30:00,90.0,-83.888419,33.954144,77,GATES OF EWING
3,Adam B Kersey,2021-12-08,2021-12-08,HARBINS LANDING,2021-12-08 09:45:00,2021-12-08 12:00:00,135.0,-83.864029,33.964481,85,HARBINS LANDING
4,Adam B Kersey,2021-12-08,2021-12-08,AUBURN ROAD,2021-12-08 13:00:00,2021-12-08 15:00:00,120.0,-83.899119,34.035830,10,AUBURN ROAD

In [24]:
#combine long and lat

merged_df['long_lat'] = merged_df['long'].astype(str) + ', ' + merged_df['lat'].astype(float).astype(str)
merged_df.head(5)

,Created By,Create_d,TimeIn_d,Pump Station Address,TIME IN,TIME OUT,TimeDifference,long,lat,Pump_Identifier,Pump Station Address Final,long_lat
0,Adam B Kersey,2021-12-06,2021-12-06,HUNTCREST,2021-12-06 09:00:00,2021-12-06 10:00:00,60.0,-84.070897,34.011252,96,HUNTCREST,"-84.0708972416, 34.01125161"
1,Adam B Kersey,2021-12-06,2021-12-06,GREAT RIVER,2021-12-06 11:00:00,2021-12-06 12:30:00,90.0,-83.895154,33.927193,81,GREAT RIVER,"-83.895154254, 33.92719319"
2,Adam B Kersey,2021-12-08,2021-12-08,GATES OF EWING,2021-12-08 08:00:00,2021-12-08 09:30:00,90.0,-83.888419,33.954144,77,GATES OF EWING,"-83.8884193553, 33.95414376"
3,Adam B Kersey,2021-12-08,2021-12-08,HARBINS LANDING,2021-12-08 09:45:00,2021-12-08 12:00:00,135.0,-83.864029,33.964481,85,HARBINS LANDING,"-83.8640293043, 33.96448133"
4,Adam B Kersey,2021-12-08,2021-12-08,AUBURN ROAD,2021-12-08 13:00:00,2021-12-08 15:00:00,120.0,-83.899119,34.035830,10,AUBURN ROAD,"-83.8991189891, 34.03583045"

In [25]:
merged_df.shape

(22060, 12)

In [26]:
merged_df.to_csv(r'C:\Users\stuti\Desktop\CSE 6242_Fall2023\project\merged_df.csv', index = None, header=True)

In [27]:
##create dataframe where each row is a maintenance staff and an unique date and all the locations visited each day and time spent in
#each location are displayed horizontally

# Enumerate 'Pump Station Address' within each group
merged_df['Pump Station Address_Num'] = merged_df.groupby(['Created By', 'TimeIn_d']).cumcount() + 1

# Pivot the table to get the desired format
pivot_df = merged_df.pivot(index=['Created By', 'TimeIn_d'], columns='Pump Station Address_Num', values=['long_lat', 'TimeDifference'])

# Flatten the multi-index columns
pivot_df.columns = [f'{col[0]}_{col[1]}' for col in pivot_df.columns]

# Reset the index to make 'Created By' and 'Create_d' regular columns
pivot_df.reset_index(inplace=True)

# Display the transposed DataFrame
print(pivot_df)

             Created By    TimeIn_d                   long_lat_1  \
0         Adam B Kersey  2021-12-06  -84.0708972416, 34.01125161
1         Adam B Kersey  2021-12-08  -83.8884193553, 33.95414376
2         Adam B Kersey  2021-12-09  -83.9957768663, 34.00375169
3         Adam B Kersey  2021-12-13   -83.895154254, 33.92719319
4         Adam B Kersey  2021-12-14   -84.036341178, 33.86256468
...                 ...         ...                          ...
6190  Taurus L Stinnett  2023-03-23  -83.8963879989, 34.10700821
6191    Zachary L Green  2022-08-02  -83.8967797927, 33.98931888
6192    Zachary L Green  2022-08-25  -84.1077010366, 33.92486401
6193    Zachary L Green  2022-11-01   -84.251488169, 33.91361474
6194    Zachary L Green  2022-12-07   -84.103233214, 33.83999742

                       long_lat_2                   long_lat_3 long_lat_4  \
0      -83.895154254, 33.92719319                          NaN        NaN
1     -83.8640293043, 33.96448133  -83.8991189891, 34.03583045        NaN
2                             NaN                          NaN        NaN
3                             NaN                          NaN        NaN
4     -84.1143379868, 33.83063085                          NaN        NaN
...                           ...                          ...        ...
6190  -83.8842016631, 34.09655975  -83.9044137184, 34.09214918        NaN
6191                          NaN                          NaN        NaN
6192  -83.9402479833, 33.97832391  -83.9402479833, 33.97832391        NaN
6193                          NaN                          NaN        NaN
6194  -84.1185645638, 33.83800342  -84.0456169955, 33.85686507        NaN

     long_lat_5 long_lat_6 long_lat_7 long_lat_8  ... TimeDifference_4  \
0           NaN        NaN        NaN        NaN  ...              NaN
1           NaN        NaN        NaN        NaN  ...              NaN
2           NaN        NaN        NaN        NaN  ...              NaN
3           NaN        NaN        NaN        NaN  ...              NaN
4           NaN        NaN        NaN        NaN  ...              NaN
...         ...        ...        ...        ...  ...              ...
6190        NaN        NaN        NaN        NaN  ...              NaN
6191        NaN        NaN        NaN        NaN  ...              NaN
6192        NaN        NaN        NaN        NaN  ...              NaN
6193        NaN        NaN        NaN        NaN  ...              NaN
6194        NaN        NaN        NaN        NaN  ...              NaN

     TimeDifference_5 TimeDifference_6 TimeDifference_7 TimeDifference_8  \
0                 NaN              NaN              NaN              NaN
1                 NaN              NaN              NaN              NaN
2                 NaN              NaN              NaN              NaN
3                 NaN              NaN              NaN              NaN
4                 NaN              NaN              NaN              NaN
...               ...              ...              ...              ...
6190              NaN              NaN              NaN              NaN
6191              NaN              NaN              NaN              NaN
6192              NaN              NaN              NaN              NaN
6193              NaN              NaN              NaN              NaN
6194              NaN              NaN              NaN              NaN

     TimeDifference_9 TimeDifference_10 TimeDifference_11 TimeDifference_12  \
0                 NaN               NaN               NaN               NaN
1                 NaN               NaN               NaN               NaN
2                 NaN               NaN               NaN               NaN
3                 NaN               NaN               NaN               NaN
4                 NaN               NaN               NaN               NaN
...               ...               ...               ...               ...
6190              NaN               NaN               NaN               NaN
6191              NaN               NaN               NaN               NaN
6192              NaN               NaN               NaN               NaN
6193              NaN               NaN               NaN               NaN
6194              NaN               NaN               NaN               NaN

     TimeDifference_13
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
...                ...
6190               NaN
6191               NaN
6192               NaN
6193               NaN
6194               NaN

[6195 rows x 28 columns]

In [28]:
#create new column ' All_long_lat' and remove nan

pivot_df['All_long_lat'] = pivot_df.apply(
    lambda row: ', '.join(['(' + str(row[col]) + ')' for col in pivot_df.columns if col.startswith('long_lat') and (pd.notna(row[col]) and str(row[col]) != '(nan, nan)')]),
    axis=1
)

print(pivot_df)

             Created By    TimeIn_d                   long_lat_1  \
0         Adam B Kersey  2021-12-06  -84.0708972416, 34.01125161
1         Adam B Kersey  2021-12-08  -83.8884193553, 33.95414376
2         Adam B Kersey  2021-12-09  -83.9957768663, 34.00375169
3         Adam B Kersey  2021-12-13   -83.895154254, 33.92719319
4         Adam B Kersey  2021-12-14   -84.036341178, 33.86256468
...                 ...         ...                          ...
6190  Taurus L Stinnett  2023-03-23  -83.8963879989, 34.10700821
6191    Zachary L Green  2022-08-02  -83.8967797927, 33.98931888
6192    Zachary L Green  2022-08-25  -84.1077010366, 33.92486401
6193    Zachary L Green  2022-11-01   -84.251488169, 33.91361474
6194    Zachary L Green  2022-12-07   -84.103233214, 33.83999742

                       long_lat_2                   long_lat_3 long_lat_4  \
0      -83.895154254, 33.92719319                          NaN        NaN
1     -83.8640293043, 33.96448133  -83.8991189891, 34.03583045        NaN
2                             NaN                          NaN        NaN
3                             NaN                          NaN        NaN
4     -84.1143379868, 33.83063085                          NaN        NaN
...                           ...                          ...        ...
6190  -83.8842016631, 34.09655975  -83.9044137184, 34.09214918        NaN
6191                          NaN                          NaN        NaN
6192  -83.9402479833, 33.97832391  -83.9402479833, 33.97832391        NaN
6193                          NaN                          NaN        NaN
6194  -84.1185645638, 33.83800342  -84.0456169955, 33.85686507        NaN

     long_lat_5 long_lat_6 long_lat_7 long_lat_8  ... TimeDifference_5  \
0           NaN        NaN        NaN        NaN  ...              NaN
1           NaN        NaN        NaN        NaN  ...              NaN
2           NaN        NaN        NaN        NaN  ...              NaN
3           NaN        NaN        NaN        NaN  ...              NaN
4           NaN        NaN        NaN        NaN  ...              NaN
...         ...        ...        ...        ...  ...              ...
6190        NaN        NaN        NaN        NaN  ...              NaN
6191        NaN        NaN        NaN        NaN  ...              NaN
6192        NaN        NaN        NaN        NaN  ...              NaN
6193        NaN        NaN        NaN        NaN  ...              NaN
6194        NaN        NaN        NaN        NaN  ...              NaN

     TimeDifference_6 TimeDifference_7 TimeDifference_8 TimeDifference_9  \
0                 NaN              NaN              NaN              NaN
1                 NaN              NaN              NaN              NaN
2                 NaN              NaN              NaN              NaN
3                 NaN              NaN              NaN              NaN
4                 NaN              NaN              NaN              NaN
...               ...              ...              ...              ...
6190              NaN              NaN              NaN              NaN
6191              NaN              NaN              NaN              NaN
6192              NaN              NaN              NaN              NaN
6193              NaN              NaN              NaN              NaN
6194              NaN              NaN              NaN              NaN

     TimeDifference_10 TimeDifference_11 TimeDifference_12 TimeDifference_13  \
0                  NaN               NaN               NaN               NaN
1                  NaN               NaN               NaN               NaN
2                  NaN               NaN               NaN               NaN
3                  NaN               NaN               NaN               NaN
4                  NaN               NaN               NaN               NaN
...                ...               ...               ...               ...
6190               NaN               NaN               NaN               NaN
6191               NaN               NaN               NaN               NaN
6192               NaN               NaN               NaN               NaN
6193               NaN               NaN               NaN               NaN
6194               NaN               NaN               NaN               NaN

                                           All_long_lat
0     (-84.0708972416, 34.01125161), (-83.895154254,...
1     (-83.8884193553, 33.95414376), (-83.8640293043...
2                         (-83.9957768663, 34.00375169)
3                          (-83.895154254, 33.92719319)
4     (-84.036341178, 33.86256468), (-84.1143379868,...
...                                                 ...
6190  (-83.8963879989, 34.10700821), (-83.8842016631...
6191                      (-83.8967797927, 33.98931888)
6192  (-84.1077010366, 33.92486401), (-83.9402479833...
6193                       (-84.251488169, 33.91361474)
6194  (-84.103233214, 33.83999742), (-84.1185645638,...

[6195 rows x 29 columns]

In [29]:
pivot_df.to_csv(r'C:\Users\stuti\Desktop\CSE 6242_Fall2023\project\pivot_df.csv', index = None, header=True)

In [30]:
#fields to export
export=pivot_df[['Created By', 'TimeIn_d', 'All_long_lat']]
export.head(5)

,Created By,TimeIn_d,All_long_lat
0,Adam B Kersey,2021-12-06,"(-84.0708972416, 34.01125161), (-83.895154254,..."
1,Adam B Kersey,2021-12-08,"(-83.8884193553, 33.95414376), (-83.8640293043..."
2,Adam B Kersey,2021-12-09,"(-83.9957768663, 34.00375169)"
3,Adam B Kersey,2021-12-13,"(-83.895154254, 33.92719319)"
4,Adam B Kersey,2021-12-14,"(-84.036341178, 33.86256468), (-84.1143379868,..."

In [31]:
#if still getting (nan, nan), remove in the field All_long_lat_final

# Define the regex pattern and replace it with an empty string
pattern = r',?\s?\(nan, nan\),?'
export['All_long_lat_final'] = export['All_long_lat'].str.replace(pattern, '', regex=True)
export = export.drop('All_long_lat', axis=1)
# Remove rows where 'All_long_lat_final' is empty
export = export[export['All_long_lat_final'].str.strip() != '']
# Reset the index if needed
export.reset_index(drop=True, inplace=True)

export.tail(5)

C:\Users\stuti\AppData\Local\Temp/ipykernel_4528/2918621519.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  export['All_long_lat_final'] = export['All_long_lat'].str.replace(pattern, '', regex=True)

,Created By,TimeIn_d,All_long_lat_final
6190,Taurus L Stinnett,2023-03-23,"(-83.8963879989, 34.10700821), (-83.8842016631..."
6191,Zachary L Green,2022-08-02,"(-83.8967797927, 33.98931888)"
6192,Zachary L Green,2022-08-25,"(-84.1077010366, 33.92486401), (-83.9402479833..."
6193,Zachary L Green,2022-11-01,"(-84.251488169, 33.91361474)"
6194,Zachary L Green,2022-12-07,"(-84.103233214, 33.83999742), (-84.1185645638,..."

In [32]:
export.to_csv(r'C:\Users\stuti\Desktop\CSE 6242_Fall2023\project\route_data.csv', index = None, header=True) #to input in the algorithms